$font-second: 'Pangolin', cursive;


.locationInfo{
    width: 95%;
    padding: 30px 10px;
    margin: 5% 0;
    text-align: center;
    border-radius: 15px;
    color: #e89ac7;
    background-color:  rgba(5, 4, 4, 0.904);

    >h2{
        // font-family:$font-main;
        font-size: 3em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    .locationInfo__details{
        // text-align: center;
        >h3{
            font-family: $font-second;
            font-size: 1.5em;
            letter-spacing: 2px;
            span{
                font-weight: 200;
                }
        }
    }
}
@media only screen and(min-width:1024px){
    .locationInfo{
        .locationInfo__details{
            >h3{
                display: inline;
                margin: 0 20px;
            }
        }
    }
}