
@use './components/searchBox';
@use './components/locationInfo';
@use './components/residentsList';

//background: #44281d #e4a788 #f0e14a	#97ce4c	#e89ac7

$font-second: 'Pangolin', cursive;
$font-main: 'Butcherman', cursive;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    font-family:$font-second ;
    background-image: url('https://www.fondoshd.mx/wallpapers/imagenes-de-rick-y-morty-para-fondo-de-pantalla-pc-4515.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
header{
    background-color: #5a270d;
    padding: 15px 0;
    z-index: 300;
    h1{
        font-family:$font-main;
        font-size: 2.5em;
        font-weight: 400;
        text-align: center;
        color: #97ce4c;
    }  
}

.App{
    // background-color: #858585;
    min-width: 320px;
    max-width: 1400px;
    margin: 0px auto 100px;
    .container{
        // border: 1px blue so}lid;
        padding: 40px;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width:680px){
    body{
        font-size: 14px;
    }

    .container{
        margin: 0 auto;
        max-width: 70%;
    }
}
@media only screen and (min-width:680px){
    .App{
        .container{
            padding: 0;
        }
    }
}
@media only screen and (min-width:110px){
    header{
        h1{
            font-size: 4em;
            letter-spacing: 4px;
        }

    }

}
// FUNCTIONS
// @mixin theme($theme: DarkGray) {
//     background: $theme;
//     box-shadow: 0 0 1px rgba($theme, .25);
//     color: #fff;
//   }
//   .info {
//     @include theme;
//   }
// INHERITANCE
// %message-shared {
//     border: 1px solid #ccc;
//     padding: 10px;
//     color: #333;
//   }

//   .message {
//     @extend %message-shared;
//   }