.App {
  text-align: center;
}
.locationCard{
  background-color: rgb(223, 112, 112);
}
.residentInfo{
  background-color: aquamarine;
  height:100px;
}
.residentsList{
  background-color: rgb(84, 174, 226);
  

}
