.SearchBox {
  width: 100%;
}
.SearchBox .input__container {
  width: 100%;
  position: relative;
}
.SearchBox .input__container input {
  width: 80%;
  height: 55px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-size: 1.7em;
  background-color: #ffffff;
}
.SearchBox .input__container input::placeholder {
  text-align: center;
  font-size: 1em;
}
.SearchBox .input__container button {
  border: none;
  display: inline-block;
  width: 20%;
  height: 55px;
  color: black;
  text-align: center;
  font-size: 1.7em;
  border-radius: 0 8px 8px 0;
  background-color: #ffffff;
}
.SearchBox .drop-down {
  position: absolute;
  z-index: 100;
  min-width: 80%;
  color: #e4a788;
  text-align: center;
  font-size: 1.7em;
  border-radius: 10px;
  background-color: #030000;
}
.SearchBox .drop-down ul {
  cursor: pointer;
  margin: 7px;
}

@media only screen and (min-width: 800px) {
  .SearchBox {
    max-width: 800px;
    margin: 0 auto;
  }
  .SearchBox .drop-down {
    min-width: 40%;
  }
}
.locationInfo {
  width: 100%;
  min-height: 180px;
  padding: 20px;
  margin: 50px 0;
  border-radius: 15px;
  color: #e89ac7;
  background-color: rgba(5, 4, 4, 0.904);
}
.locationInfo > h2 {
  font-size: 2.5em;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}
.locationInfo .locationInfo__details {
  text-align: center;
}
.locationInfo .locationInfo__details > h3 {
  font-family: "Pangolin", cursive;
  font-size: 1.8em;
}
.locationInfo .locationInfo__details > h3 span {
  font-weight: 200;
}

@media only screen and (min-width: 1024px) {
  .locationInfo .locationInfo__details > h3 {
    display: inline;
    margin: 0 20px;
  }
}
.residentsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.residentCard {
  background-color: aliceblue;
  position: relative;
  grid-column: 1/-1;
  border-radius: 20px;
  overflow: hidden;
}
.residentCard .residentCard__container {
  width: 100%;
  height: 100%;
}
.residentCard .residentCard__container img {
  width: 100%;
  height: 100%;
}
.residentCard .residentCard__container .residentCard__details {
  background-color: rgba(0, 0, 0, 0.678);
  color: antiquewhite;
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
}
.residentCard .residentCard__container .residentCard__details > h3 {
  color: #97ce4c;
}
.residentCard .residentCard__container .residentCard__details .residentStatus {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .residentCard {
    grid-column: 2/6;
  }
}
@media only screen and (min-width: 1024px) {
  .residentsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding: 0 5% 10% 12%;
  }

  .residentCard {
    width: 370px;
    margin: 10px 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-family: "Pangolin", cursive;
  background-image: url("https://www.fondoshd.mx/wallpapers/imagenes-de-rick-y-morty-para-fondo-de-pantalla-pc-4515.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header {
  background-color: #5a270d;
  padding: 25px 0;
  position: fixed;
  width: 100vw;
  height: 250px;
  z-index: 300;
}
header h1 {
  font-family: "Butcherman", cursive;
  font-size: 3.2em;
  font-weight: 400;
  text-align: center;
  color: #97ce4c;
}

.App {
  min-width: 320px;
  max-width: 1400px;
  margin: 0px auto 100px;
  padding-top: 310px;
}
.App .container {
  padding: 22px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 680px) {
  body {
    font-size: 20px;
  }

  .container {
    margin: 0 auto;
    max-width: 85%;
  }
}
@media only screen and (min-width: 110px) {
  > h1 {
    font-size: 4.5em;
  }
}

/*# sourceMappingURL=index.css.map */
