.SearchBox {
  width: 80%;
  margin: 15px auto;
  position: relative;
}
.SearchBox .input__container {
  width: 100%;
  height: 55px;
}
.SearchBox .input__container input {
  width: 100%;
  font-family: "Pangolin", cursive;
  outline: none;
  border-radius: 20px;
  border: none;
  height: inherit;
  text-align: center;
  display: inline-block;
  font-size: 1.7em;
  background-color: #ffffff;
}
.SearchBox .input__container input::placeholder {
  display: none;
  text-align: center;
  font-size: 1em;
}
.SearchBox .drop-down {
  position: absolute;
  z-index: 100;
  width: 100%;
  color: #e4a788;
  text-align: center;
  font-size: 1.9em;
  border-radius: 10px;
  background-color: #030000;
}
.SearchBox .drop-down ul {
  cursor: pointer;
  margin: 7px;
}

@media only screen and (min-width: 580px) {
  .SearchBox {
    max-width: 580px;
  }
}
.locationInfo {
  width: 95%;
  padding: 30px 10px;
  margin: 5% 0;
  text-align: center;
  border-radius: 15px;
  color: #e89ac7;
  background-color: rgba(5, 4, 4, 0.904);
}
.locationInfo > h2 {
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 20px;
}
.locationInfo .locationInfo__details > h3 {
  font-family: "Pangolin", cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
}
.locationInfo .locationInfo__details > h3 span {
  font-weight: 200;
}

@media only screen and (min-width: 1024px) {
  .locationInfo .locationInfo__details > h3 {
    display: inline;
    margin: 0 20px;
  }
}
h1 {
  color: #0c0007;
  font-size: 3.5em;
  font-weight: 800;
  margin: 20px;
}

.residentsList {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.residentCard {
  position: relative;
  grid-column: 1/-1;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.residentCard .residentCard__container {
  width: 100%;
  height: 100%;
}
.residentCard .residentCard__container img {
  width: 100%;
  height: 100%;
}
.residentCard .residentCard__container .residentCard__details {
  background-color: rgba(0, 0, 0, 0.678);
  color: antiquewhite;
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
}
.residentCard .residentCard__container .residentCard__details > h3 {
  color: #97ce4c;
}
.residentCard .residentCard__container .residentCard__details .residentStatus {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (min-width: 800px) {
  .residentsList {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.navPagination {
  background-color: #054630;
  width: 70%;
  list-style: none;
  overflow-x: scroll;
  padding: 5px;
}
.navPagination .navPagi__content {
  width: fit-content;
  background-color: #0c110f;
  display: flex;
  flex-direction: row;
}
.navPagination .navPagi__content li {
  margin: 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-size: 10px;
  font-family: "Pangolin", cursive;
  background-image: url("https://www.fondoshd.mx/wallpapers/imagenes-de-rick-y-morty-para-fondo-de-pantalla-pc-4515.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header {
  min-width: 320px;
  background-color: #5a270d;
  padding: 15px 8px;
  width: 100vw;
}
header h1 {
  font-family: "Butcherman", cursive;
  font-size: 8vw;
  font-weight: 400;
  text-align: center;
  color: #97ce4c;
}

.App {
  background-color: #ac5c94;
  max-width: 1400px;
  margin: 0px auto 100px;
  overflow-y: hidden;
}
.App .container {
  border: 1px #060608 solid;
  padding: 40px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 710px) {
  body {
    font-size: 14px;
  }

  header h1 {
    font-size: 6vw;
    letter-spacing: 14px;
  }

  .container {
    margin: 0 auto;
    max-width: 70%;
  }
}
@media only screen and (min-width: 680px) {
  .App .container {
    padding: 0;
  }
}

/*# sourceMappingURL=index.css.map */
